@font-face {
    font-family: '8bitfont';
    src: url(../font/04B_03__.TTF);
}

body{
    overflow: hidden;
    font-size: 16px;
    background-color: #367a4e;

}

.game {
    display: flex;
    flex-direction: column;
    font-family: '8bitfont';
    font-size: 32px;
    color:white
}


.top-row {
    display: flex;
    align-items: center;
    margin: 2%;
    background: linear-gradient(to bottom, #b4202a, red);
    border: solid gold 5px;
    padding: 2%;
    border-radius: 10px;
    min-height: 10vh;
}

.stock-area{
    display: flex;
    padding: 0;
    margin:0;
}
.card-stock{
    margin-right: 10%;
}
.card-waste{
    margin-right: 10%;
}

.bottom-row{
    background: linear-gradient(to bottom, #b4202a, red);
    border: solid gold 5px;
    margin: 2%;
    min-height: 20vh;
    border-radius: 10px;
}
.tableau-area {
    display: flex;
    align-items: flex-start;
    height: 50vh;
    background: #2e6f45; 
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #b4202a, red);

}
.foundation-area{
    padding-left: 10%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}



.card-foundation{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 80%;

} 


.card-another{
    position: relative;
    display: flex;
    min-width: 11vw;
    align-items: center;
    justify-content: center;
    margin-right:5% ;
}
.card-another img{
    
    max-width: 100%;
    height: auto;
}

.card-another:nth-child(2){top:-10%;}
.card-another:nth-child(3){top:-20%;}
.card-another:nth-child(4){top:-30%;}
.card-another:nth-child(5){top:-40%;}
.card-another:nth-child(6){top: -50%;}
.card-another:nth-child(7){top: -60%;}
.card-another:nth-child(8){top:-70%;}
.card-another:nth-child(9){top:-80%;}
.card-another:nth-child(10){top:-90%;}
.card-another:nth-child(11){top:-100%;}
.card-another:nth-child(12){top: -110%;}
.card-another:nth-child(13){top: -120%;}






footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 0.9em;
    border: 5px solid gold;
    background: linear-gradient(to bottom, #b4202a, red);
    align-self: center;
    width:  95%;
    border-radius: 10px;

}

.go-back-btn{
    text-decoration: none;
    color: #ffffff;
}
.go-back-btn:hover{
    color: #2e6f45;
}