@font-face {
    font-family: '8bitfont';
    src: url(../font/04B_03__.TTF);
}

body{
    background:#3b8f59;
    margin:0;
    font-size:32px;
    color:white;
    font-family:'8bitfont', sans-serif;
}

.game{
    width:100%;
    margin:auto;
}

.top-row{

    display:flex;
    margin-bottom:1%;
    padding: 1%;
    
}

.stock-area{
    display:flex;
    gap:20px;
    width: 50%;
    justify-content: center;
    
}


.tableau-area{
    display: flex;
    width: 100%;
    justify-content: center;
    gap:1%;
}

.foundation-area{
    display:flex;
    gap:20px;
    width: 50%;
}

.tableau{
    display:flex;
}

.column{
    width:25%;
    min-height:100%;
}

.card{
    width:200px;
    height: 250px;

    border-radius:8px;
    border-radius: 20px;

}

.card img{
    width:100%;
    height:100%;
}
.card-another:nth-child(1){
    margin-top: 20%;
}

.card-another{
    border-radius: 20px;
    border: 2px solid black;
    background: white;
    color: #3b8f59;
    height: inherit;
    margin-top:-100% ;
}
footer{
    width: 100%;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16%;
}

.go-back-btn{
    font-family: inherit;
    color: inherit;
    width: 7%;
    height: 50%;
    background-image: linear-gradient(to bottom, #b4202a, red);
    border: solid 1px gold;
    border-radius: 5px;
    font-size: 1em;
}

